<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string><![CDATA[http://sz.zxmqt.com:8086/static/action/Update?action=down&attachid=5a4dfb9d5dab354f015dacfa661a1048&download=1]]></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zxmoa.ZouCun</string>
				<key>bundle-version</key>
				<string>1.2.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>嵊州民情脚印</string>
				<key>title</key>
				<string>嵊州民情脚印</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
